.all
{
    margin-left: 200px;
}
.card1
{
    border: 4px solid black;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: inline-block;
    width: 280px;
    height: 450px;
    box-shadow: 3px 3px 5px rgb(118, 118, 118);
    margin: 20px;
   
}

.card2
{
   
     border: 4px solid  rgb(247, 59, 160);
     background-color: rgb(247, 59, 160);
    border-radius: 5px;
    padding: 20px 20px 55px 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 280px;
    height: 450px;
    box-shadow: 3px 3px 5px rgb(118, 118, 118);
    margin: 20px;
}
.text
{
    color: rgb(63, 61, 61);
    font-size: 28px;
    text-align: center;
    font-weight: medium;
    
}
.text3
{
    color: white;
    background-color: ;
    font-size: 28px;
    text-align: center;
    font-weight: medium;
}
.button
{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 25px;
    font-weight: medium;
    font-family:serif;
    border-radius: 40px;
    padding: 15px 30px;
    /* border: 2px solid black; */
}

.button1
{
     color: pink;
    background-color: white;
    text-align: center;
    font-size: 25px;
    font-weight: medium;
    font-family:serif;
    border-radius: 40px;
    padding: 15px 30px;

}


